h1 {
    color: whitesmoke;
    font-size: 32px;
    text-align: center;
}

h3 {
    text-align:  center;
    color: white;
}

body {
    background-color: black;
}

.sidebar {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: -200px;
    background-color: #121212;
    padding-top: 20px;
    color: white;
    overflow-x: hidden;
    transition: 0.3s;
}

.sidebar.open {
    left: 0;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    color: #b3b3b3;
    background-color: #303030;
    transition: 0.3s;
}

.menu-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 999;
    background-color: #121212;
    color: white;
    border: none;
    border-radius: 50%; /* makes it a circle */
    width: 45px;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
}

.menu-btn.open {
    left: 215px;
}

.menu-btn:hover {
    background-color: #303030;
    transition: 0.3s;
}

.content {
    margin-left: 20px;
    padding: 20px;
    flex-grow: 1;
    color: white;
}

.content a {
    text-decoration: none;
    color: white;
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
}

.stars::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 3px;
    animation: twinkle 10s ease-in-out infinite alternate;
}

@keyframes twinkle {
    from { opacity: 1;}
    to { opacity: 0.5; }
}
